header {
    width: calc(100% - 80px);
    height: 80px;
    
    padding: 10px 40px 10px 40px;
}

h1 {
    font-family: "Baloo Thambi 2", cursive;
    font-size: 36pt;
    
    color: black;
}




#map {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
}

#svg2 {
    transform: scale(1.35);
    transform-origin: top center;
}

#_State_borders {
    stroke: #9e9e9e !important;
}

#county-group path {
    fill: #f2f2f2 !important;
}

#county-group path.level1 {
    fill: #FFBABA !important;
}

#county-group path.level2 {
    fill: #FF6464 !important;
}

#county-group path.level3 {
    fill: #E80000 !important;
}

#county-group path.level4 {
    fill: #A80000 !important;
}

#county-group path.level5 {
    fill: #660000 !important;
}

#county-group path.level6 {
    fill: #3c0000 !important;
}

#county-group path:hover {
    fill: green !important;
}