header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: calc(100% - 80px);
    height: 60px;
    
    padding: 10px 40px 10px 40px;
    
    background-color: white;
    
    -webkit-box-shadow: 0 0 2px -1px rgba(0,0,0,.12), 0 2px 2px rgba(0,0,0,.24);
    -moz-box-shadow: 0 0 2px -1px rgba(0,0,0,.12), 0 2px 2px rgba(0,0,0,.24);
    box-shadow: 0 0 2px -1px rgba(0,0,0,.12), 0 2px 2px rgba(0,0,0,.24);
}

h1 {
    font-family: "Baloo Thambi 2", cursive;
    font-size: 28pt;
    
    color: black;
}


div.container {
    margin: 10px;
    padding: 15px;
    
    background-color: white;
    
    -webkit-box-shadow: 0 0 2px -1px rgba(0,0,0,.12), 0 2px 2px rgba(0,0,0,.24);
    -moz-box-shadow: 0 0 2px -1px rgba(0,0,0,.12), 0 2px 2px rgba(0,0,0,.24);
    box-shadow: 0 0 2px -1px rgba(0,0,0,.12), 0 2px 2px rgba(0,0,0,.24);
}




#map {
    display: flex;
    flex-direction: column;
    
    justify-content: flex-start;
    align-items: center;
}

#map h2 {
    width: 100%;
    
    font-family: "Baloo Thambi 2", cursive;
    font-size: 36pt;
    color: black;
}

#map h3 {
    width: 100%;
    
    font-family: "Baloo Thambi 2", cursive;
    font-style: italic;
    font-size: 18pt;
    color: black;
    
    margin-bottom: 20px;
}

#svg2 {
    transform: scale(1.35);
    transform-origin: top center;
}

#_State_borders {
    stroke: #9e9e9e !important;
}

#county-group path {
    fill: #f2f2f2 !important;
}

#county-group path.level1 {
    fill: #FFBABA !important;
}

#county-group path.level2 {
    fill: #FF6464 !important;
}

#county-group path.level3 {
    fill: #E80000 !important;
}

#county-group path.level4 {
    fill: #A80000 !important;
}

#county-group path.level5 {
    fill: #660000 !important;
}

#county-group path.level6 {
    fill: #3c0000 !important;
}

#county-group path:hover {
    fill: green !important;
}






#interactables {
    position: relative;
    width: calc(100% - 80px);
    margin-bottom: 10px;
    padding: 30px;
    
    display: flex;
    
    justify-content: center;
    align-items: center;
}

#date-slider {
    margin-bottom: 60px;
    
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent;
}

#date-slider::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    border: 0px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffaca6;
    cursor: pointer;
    margin-top: -18px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 0px 10px 10px rgba(0,0,0,0.25);
}

#date-slider::-moz-range-thumb {
    position: relative;
    border: 0px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffaca6;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.25);
}

#date-slider::-ms-thumb {
    position: relative;
    border: 0px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffaca6;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.25);
}

#date-slider:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

#date-slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    box-shadow: none;
    background: #000000;
    border-radius: 0px;
    border: 0px solid #010101;
}

#date-slider::-moz-range-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    box-shadow: none;
    background: #000000;
    border-radius: 0px;
    border: 0px solid #010101;
}

#date-slider::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

#date-slider::-ms-fill-lower {
    background: #000000;
    border-radius: 0px;
    border: 0px solid #010101;
}

#date-slider::-ms-fill-upper {
    background: #000000;
    border-radius: 0px;
    border: 0px solid #010101;
}


#date-slider-label {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
    left: 0;
    top: 60px;
    width: 240px;
    padding: 5px;
    height: 1.15em;
    
    border: #A80000 2px solid;
    border-radius: 5px;
    
    -webkit-box-shadow: 0 0 2px -1px rgba(0,0,0,.12), 0 2px 2px rgba(0,0,0,.24);
    -moz-box-shadow: 0 0 2px -1px rgba(0,0,0,.12), 0 2px 2px rgba(0,0,0,.24);
    box-shadow: 0 0 2px -1px rgba(0,0,0,.12), 0 2px 2px rgba(0,0,0,.24);
    
    overflow: hidden;    
    transition: 0.2s ease, 0.8s ease left;
}

#date-slider-label::before {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    
    background-color: #A80000;
    
    transition: 0.2s ease;
}

#date-slider-label p {
    z-index: 1;
    font-family: "Baloo Thambi 2", cursive;
    font-size: 18pt;
    color: #A80000;
}

#date-slider-label:hover, #date-slider-label.hover {
    transform: scale(1.05);
    cursor: pointer;
}

#date-slider-label.hover {
    width: 140px;
}

#date-slider-label:hover::before, #date-slider-label.hover::before {
    width: 100%;
}

#date-slider-label:hover p, #date-slider-label.hover p {
    color: white;
}



#cases-label {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    
    opacity: 0;
    
    left: 160px;
    top: 60px;
    width: 240px;
    padding: 5px;
    height: 1.15em;
    border: 2px transparent solid;
    
    transition: opacity ease 0.6s;
}

#deaths-label {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    
    opacity: 0;
    
    left: 400px;
    top: 60px;
    width: 240px;
    padding: 5px;
    height: 1.15em;
    border: 2px transparent solid;
    
    transition: opacity ease 0.6s;
}

#cases-label.hover.show, #deaths-label.hover.show {
    opacity: 1;
}

#cases-label p, #deaths-label p {
    font-family: "Baloo Thambi 2", cursive;
    font-size: 18pt;
    color: black;
}


#warning {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    opacity: 0;
    
    left: 200px;
    top: 48px;
    width: 480px;
    padding: 5px;
    height: 40px;
    border: 2px FFCC00 solid;
    border-radius: 5px;
    
    background-color: #FFE372;
    
    -webkit-box-shadow: 0 0 2px -1px rgba(0,0,0,.12), 0 2px 2px rgba(0,0,0,.24);
    -moz-box-shadow: 0 0 2px -1px rgba(0,0,0,.12), 0 2px 2px rgba(0,0,0,.24);
    box-shadow: 0 0 2px -1px rgba(0,0,0,.12), 0 2px 2px rgba(0,0,0,.24);
    
    transition: opacity ease 0.6s;
}

#warning.hover.show {
    opacity: 1;
}

#warning img {
    margin-right: 10px;
}

#warning p {
    font-family: "Baloo Thambi 2", cursive;
    font-size: 14pt;
    color: black;
}







#stats h2 {
    font-family: "Baloo Thambi 2", cursive;
    font-size: 20pt;
    color: black;
}

#table-container {
    height: 500px;
    overflow: auto;
    margin-top: 10px;
}

#stats table {
    width: 100%;
}

#stats table tr {
    border-top: solid 1px #e6e6e6;
    background-color: white;
}

#stats table thead {
}

#stats table thead tr:first-of-type th {
    color: #7e7e7e;
}

#stats table td, #stats, table th {
    text-align: left;
    
    font-family: "Baloo Thambi 2", cursive;
    font-size: 14pt;
    color: black;
    
    padding: 10px;
}